<h1><%= @location.name %></h1>
<div>Address = <%= @location.address %></div>
<div>Latitude = <%= @location.latitude %></div>
<div>Longitude = <%= @location.longitude %></div>

<div style="margin-top:50px;">TODO: Add this to atlas page</div>
<div>TODO: Show popular public atlas pages with this location</div>
